datasets/

platform/.venv/
platform/**/.venv/
platform/__pycache__/
platform/**/__pycache__/
platform/**/*.pyc


.env*
.venv
__pycache__/
.next/
node_modules/
platform/generated/**/.next/
platform/generated/**/node_modules/
*.DS_Store
